*.suo
*.user
*.log
packages/
FXDashboard/js/
FXDashboard.Cordova/www/js/

FXDashboard.Cordova/platforms/windows8/bin
FXDashboard.Cordova/platforms/windows8/bld
FXDashboard.Cordova/platforms/windows8/www
FXDashboard.Cordova/platforms/windows8/platform_www

*.xcuserstate
FXDashboard.Cordova/platforms/ios/build
FXDashboard.Cordova/platforms/ios/www
FXDashboard.Cordova/platforms/ios/platform_www

*.apk
FXDashboard.Cordova/platforms/android/assets
FXDashboard.Cordova/platforms/android/bin
FXDashboard.Cordova/platforms/android/gen
FXDashboard.Cordova/platforms/android/CordovaLib/bin
FXDashboard.Cordova/platforms/android/CordovaLib/gen
FXDashboard.Cordova/platforms/android/platform_www
